header {
  .navbar-brand {
    span {
      display: none;
    }
  }

  .navbar-toggle {
    padding: 0.5rem 0.7rem;

    i:before {
      font-size: $font-size-xl;
      line-height: 1.2;
    }
  }

  ul {
    @extend %list-unstyled;
  }

  .brands-wrap {
    .brands {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .header-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    li {
      &.demo-link a,
      &.team-link a {
        color: $theme-gray;
      }

      &.post-internship-link a {
        font-weight: 600;
      }

      a {
        font-size: $font-size-sm;
        white-space: nowrap;
      }
    }

    .signup-link {
      @include border-radius(1.5rem);

      color: $white;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  .header-form-wrap {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    .search-btn {
      color: $primary-color;
      padding: 0;
    }
  }
}

.gravatar {
  @include border-radius(50%);

  max-width: 2rem;
  height: auto;
  border: 1px solid $primary-color;
  padding: 1px;
}

.navbar-brand {
  @extend %main-sprite;

  height: 3rem;
  width: 14rem;
  background-position-x: -10px;

  &.aicte-internships {
    background-position-y: 10px;
    width: 196px;
  }

  &.aicte {
    background-position-y: -45px;
  }

  &.mhrd {
    background-position-y: -90px;
    width: 8rem;
  }

  &.goi {
    background-position-y: -140px;
    width: 9rem;
  }
}

.announcements {
  margin: 1rem 2rem;
  font-size: $font-size-xs;

  strong {
    font-style: italic;
    border-bottom: 1px solid $primary-color;
  }

  p {
    font-size: $font-size-sm;
  }
}

.navbar-header {
  @include absolute-tl(1.5rem, 1rem);
}

@include media-breakpoint-up(sm) {
  .navbar-header {
    display: none;
  }

  .header-links-wrap.collapse {
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  .brands-wrap {
    margin: 0 auto;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .brands li:not(:first-child) {
    display: none;
  }

  .header-form-wrap .post-intership-btn {
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(lg) {
  header {
    border-bottom: 2px solid #286bda;

    .brands {
      padding: 1rem;
    }

    .header-links .language-link {
      margin-right: 0.5rem;
    }
  }
}
