header {
  ul {
    @extend %list-unstyled;
  }
}

.navbar {
  padding: 0;
}

.navbar-left {
  padding: 1rem;

  .btn {
    padding: 0.05rem 0.2rem;
  }
}

.navbar-right {
  padding: 1rem;

  .btn {
    padding: 0.35rem 0.8rem;

    i.fa-times {
      padding: 0 0.12rem;
    }
  }
}

.brands {
  li {
    display: none;

    &:first-of-type {
      display: block;
    }
  }
}

.navbar-brand {
  @extend %main-sprite;

  height: 3rem;
  width: 14rem;
  background-position-x: -10px;

  &.aicte-internships {
    background-position-y: 10px;
    width: 196px;
  }

  &.aicte {
    background-position-y: -45px;
  }

  &.mhrd {
    background-position-y: -90px;
    width: 8rem;
  }

  &.goi {
    background-position-y: -140px;
    width: 9rem;
  }
}

.header-links-wrap,
.languages-links-wrap {
  width: 100%;
  height: 100vh;
  background-color: lighten($secondary-color, 45%);
  border-top: 1px solid $secondary-color;
}

.header-links-wrap {
  @include absolute-tl(5.4rem, 0);

  margin-left: auto;

  .header-links {
    li {
      padding: 1rem 0 0;
      text-align: center;
      border-top: 1px solid rgba($secondary-color, 0.2);

      &:first-of-type {
        border: none;
      }

      &.post-internship-link a {
        font-weight: 600;
      }
    }

    .signup-link {
      @include border-radius(1.5rem);

      color: $white;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}

.languages-links-wrap {
  text-align: center;
  padding: 1.5rem 0 0;
  order: 3;

  .languages-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 1.5rem;

    li {
      padding: 0.5rem;

      &.active span {
        background-color: rgba($primary-color, 0.1);
        color: $primary-color;
      }

      span {
        @include border-radius($border-radius);

        padding: 0.75rem 1.2rem;
      }
    }
  }

  .btn {
    @include border-radius(50%);

    padding: 0;
    font-size: 3rem;
    line-height: 0;
  }
}

.header-form-wrap {
  margin-left: auto;

  .gravatar,
  .dropdown,
  .post-intership-btn {
    display: none;
  }

  .form-row {
    padding: 1rem;
  }

  .search-btn {
    color: $primary-color;
    padding: 0;
  }
}

.secondary-page {
  .languages-links-wrap {
    order: 0;
  }
}

.announcements {
  margin: 1rem 2rem;
  font-size: $font-size-xs;

  strong {
    font-style: italic;
    border-bottom: 1px solid $primary-color;
  }

  p {
    font-size: $font-size-sm;
  }
}

@include media-breakpoint-up(sm) {
  .navbar-left {
    order: 1;
    margin-left: auto;
  }

  .navbar-right {
    display: none;
  }

  .navbar-middle {
    padding-left: 1rem;
  }

  .brands li,
  .brands li:first-of-type {
    display: inline;
  }

  .header-links-wrap,
  .header-links-wrap.collapse {
    display: flex;
    position: initial;
    width: auto;
    height: auto;
    background: none;
    border: none;
    padding-right: 1rem;
    order: 2;

    .header-links {
      display: flex;

      li {
        border: none;
        padding: 0;

        &.demo-link a,
        &.team-link a {
          color: $theme-gray;
        }
      }
    }
  }

  .header-form-wrap {
    order: 2;
    display: flex;
    padding-right: 1rem;
    align-items: center;

    .dropdown {
      display: block;
    }

    .dropdown-toggle {
      padding: 0;
      display: flex;
      align-items: center;
      color: $primary-color;
    }

    .dropdown-menu {
      .dropdown-item {
        padding: 0.75rem 1.5rem;
        border-top: 1px solid lighten($secondary-color, 45%);
        color: $secondary-color;

        &:last-of-type {
          padding: 1.5rem;
          border-top: 1px solid $secondary-color;
          color: $primary-color;

          &:hover {
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }

    .gravatar {
      @include border-radius(50%);

      max-width: 2rem;
      height: auto;
      border: 1px solid $primary-color;
      padding: 1px;
      display: block;
    }

    .post-intership-btn {
      display: inline;
      font-weight: 600;
      padding: 0 0 0.5rem;
    }
  }

  .secondary-page {
    .navbar-brand.goi {
      display: none;
    }

    .header-links-wrap {
      display: none;
    }

    .languages-links-wrap {
      order: 3;
    }
  }
}
