<div class="affiliations-section">
  <div class="section-caption">
    <h2>Our Affiliations</h2>
    <p>Don't miss out on a chance so big!</p>
  </div>
  <ul class="affliations-list">
    <li><img class="img-thumbnail" src="../../images/logos/goi.png" alt="Government of India"></li>
    <li><img class="img-thumbnail" src="../../images/logos/goi.png" alt="Government of India"></li>
    <li><img class="img-thumbnail" src="../../images/logos/goi.png" alt="Government of India"></li>
    <li><img class="img-thumbnail" src="../../images/logos/goi.png" alt="Government of India"></li>
  </ul>
  <div class="btn-wrap">
    <button class="btn btn-primary">Register now</button>
  </div>
</div>