<div class="affiliations-section">
  <div class="section-caption">
    <h2>Our affiliations</h2>
    <p>Don't miss out on a chance so big!</p>
  </div>

  <div class="affiliations-carousel-wrap">
    <div id="affiliations-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <ul class="affliations-list">
            <li class="goi"><span class="sr-only">goi</span></li>
            <li class="mhrd"><span class="sr-only">mhrd</span></li>
            <li class="tulip"><span class="sr-only">tulip</span></li>
            <li class="aicte"><span class="sr-only">aicte</span></li>
          </ul>
        </div>
        <div class="carousel-item">
          <ul class="affliations-list">
            <li class="mhrd"><span class="sr-only">mhrd</span></li>
            <li class="tulip"><span class="sr-only">tulip</span></li>
            <li class="aicte"><span class="sr-only">aicte</span></li>
            <li class="goi"><span class="sr-only">goi</span></li>
          </ul>
        </div>
        <div class="carousel-item">
          <ul class="affliations-list">
            <li class="tulip"><span class="sr-only">tulip</span></li>
            <li class="aicte"><span class="sr-only">aicte</span></li>
            <li class="goi"><span class="sr-only">goi</span></li>
            <li class="mhrd"><span class="sr-only">mhrd</span></li>
          </ul>
        </div>
        <div class="carousel-item">
          <ul class="affliations-list">
            <li class="aicte"><span class="sr-only">aicte</span></li>
            <li class="goi"><span class="sr-only">goi</span></li>
            <li class="mhrd"><span class="sr-only">mhrd</span></li>
            <li class="tulip"><span class="sr-only">tulip</span></li>
          </ul>
        </div>
      </div>
      <a class="carousel-control-prev" href="#affiliations-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#affiliations-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="btn-wrap">
    <button class="btn btn-primary">Sign up now!</button>
  </div>
</div>