<div class="banner-item-wrap">
  <div class="banner-item">
    <div class="row w-100">
      <div class="col-lg-7 order-lg-1">
        <div class="banner-item-content">
          <h3>BUILD YOUR FUTURE RIGHT HERE WITH US.</h3>
          <p>We care for you.</p>
          <button class="btn btn-primary">JOIN THE REVOLUTION!</button>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="img-wrap">
          <img src="../../images/modiji.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>