<div class="search-section">
  <ul class="nav nav-tabs" id="bannerSearch" role="tablist">
    <li class="nav-item">
      <a class="btn btn-outline-primary active" id="bannerSearchInternships-tab" data-toggle="tab" href="#bannerSearchInternships" role="tab" aria-controls="bannerSearchInternships" aria-selected="true">Find an Intership</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-outline-primary" id="bannerSearchIntern-tab" data-toggle="tab" href="#bannerSearchIntern" role="tab" aria-controls="bannerSearchIntern" aria-selected="false">Hire an Intern</a>
    </li>
  </ul>
  <div class="tab-content" id="bannerSearchContent">
    <div class="tab-pane fade show active" id="bannerSearchInternships" role="tabpanel" aria-labelledby="bannerSearchInternships-tab">
      <div class="form-row">
        <div class="col-lg-6">
          <div class="input-with-actions">
            <input type="text" class="form-control" placeholder="Eg. Engineer, Pune, Android Developer">
            <span class="related-actions">
              <a role="button" title="say"><i class="fas fa-microphone"></i></a>
            </span>
          </div>
        </div>
        <div class="col-9 col-lg-4">
          <select class="form-control">
            <option>Location</option>
            <option>Location 2</option>
            <option>Location 3</option>
            <option>Location 4</option>
            <option>Location 5</option>
          </select>
        </div>
        <div class="col-2 col-lg-2">
          <a href="internships.html" class="btn btn-primary"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="bannerSearchIntern" role="tabpanel" aria-labelledby="bannerSearchIntern-tab">
      <div class="form-row">
        <div class="col-lg-6">
          <div class="input-with-actions">
            <input type="text" class="form-control" placeholder="Eg. Engineer, Pune, Android Developer">
            <span class="related-actions">
              <a role="button" title="say"><i class="fas fa-microphone"></i></a>
            </span>
          </div>
        </div>
        <div class="col-9 col-lg-4">
          <select class="form-control">
            <option>Location</option>
            <option>Location 2</option>
            <option>Location 3</option>
            <option>Location 4</option>
            <option>Location 5</option>
          </select>
        </div>
        <div class="col-2 col-lg-2">
          <a href="interns.html" class="btn btn-primary"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>