<div class="search-section">
  <div class="input-group search-wrap">
    <input type="text" class="form-control" placeholder="Search by Category" aria-label="Search by Category" aria-describedby="search-category-wise">
    <div class="input-group-append">
      <span class="input-group-text bg-primary" id="search-internship"><button class="btn search-btn"><i class="fas fa-search"></i><span class="sr-only">Search</span></button></span>
    </div>
    <span class="related-actions">
      <a role="button" title="say"><i class="fas fa-microphone"></i></a>
    </span>
  </div>
</div>