<div class="search-section">
  <div class="input-with-actions">
    <div class="input-group search-wrap">
      <input type="text" class="form-control" placeholder="Search by Category" aria-label="Search by Category"
        aria-describedby="search-category-wise">
      <span class="related-actions">
        <a role="button" title="say"><i class="fas fa-microphone"></i></a>
      </span>
      <div class="input-group-append">
        <span class="input-group-text bg-primary" id="search-internship"><button class="btn search-btn"><i
              class="fas fa-search"></i></button></span>
      </div>
    </div>
  </div>
</div>

<div class="btn-wrap">
  <button class="btn btn-medium">THSTI</button>
  <button class="btn btn-outline-medium">Indian Metro</button>
  <button class="btn btn-outline-medium">Hospitality</button>
  <button class="btn btn-outline-medium">TCS</button>
  <button class="btn btn-primary">See all <i class="fas fa-arrow-right"></i></button>
</div>