<div class="feedback-item">
  <div class="feedback">
    <div class="person">
      <p class="name">Alok Nath</p>
      <p class="title">Intern at Microsoft, Hydrabad</p>
    </div>
    <div class="rated">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <div class="message">
      <p>"I've been using AICTE for more than a year and I must say I've never had such reliable website provider to work with. They've helped me out a lot"</p>
    </div>
  </div>
  <img class="img-thumbnail" src="../../images/profile-photos/profile-photo4.jpg" alt="Alok Nath">
</div>