<div class="numbers-section">
  <ul class="highlighted-numbers">
    <li class="total-internships">
      <i class="fal fa-id-badge"></i>
      <span><strong>38,950+</strong> Total Internships</span>
    </li>
    <li class="total-companies">
      <i class="fal fa-hotel"></i>
      <span><strong>179+</strong> Total Companies</span>
    </li>
    <li class="internship-goal">
      <i class="fal fa-analytics"></i>
      <span><strong>1 Crore+</strong> Internships by 2025</span>
    </li>
  </ul>
</div>