<div class="promotion-section">
  <div class="section-caption">
    <h2>Explore countless opportunities</h2>
  </div>
  <div class="highlight-container">
    <div class="motivation-hightlight">
      <h2>Find a seat at our table!</h2>
      <p>There is no denying of the fact that the success of an individual lies mostly in the hardwork. You should attract the companies and make them read through your profile. With government affiliated interships you do have a bright future.</p>
    </div>
  </div>
</div>