<div class="subscription-section">
  <div class="section-content order-lg-1">
    <h3>Key Announcements For Students</h3>
    <ul class="student-announcements">
      <li>Internships for students & fresh engineers</li>
      <li>From job seekers to job creators</li>
      <li>Rs 99,300 crore for Education sector in 2020-21 Apprenticeship embedded courses</li>
      <li>Online education programmes for students Financing Education Sector [FDI, External commercial borrowing]</li>
    </ul>

    <h3>Subscribe to our newsletter</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="snowseekinginternship@imaginxp.com"
        aria-label="snowseekinginternship@imaginxp.com" aria-describedby="subscribe">
      <div class="input-group-append">
        <button class="btn btn-secondary">Subscribe <i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
  <div class="img-wrap order-lg-0">
    <img src="../../images/modiji.png" alt="">
  </div>
</div>