<div class="testimonial-section">
  <div class="section-caption">
    <h2>Valued people with valuable feedback</h2>
    <p>Feedbacks from our happy users. <a href="#">Become one of them.</a></p>
  </div>

  <div class="feedback-carousel-wrap">
    <div id="feedback-list" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          ${require('./feedback-item.html')}
        </div>
        <div class="carousel-item">
          ${require('./feedback-item.html')}
        </div>
        <div class="carousel-item">
          ${require('./feedback-item.html')}
        </div>
      </div>
      <a class="carousel-control-prev" href="#feedback-list" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#feedback-list" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  
</div>