<div class="trust-section">
  <div class="section-caption">
    <h2>Trusted over 179 companies across India!</h2>
    <p>You have a chance to work with them!</p>
  </div>

  <div class="companies-carousel-wrap">
    <div id="trusted-companies-list" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <ul class="trust-companies-list">
            <li class="techmahindra"><span class="sr-only">techmahindra</span></li>
            <li class="robinhood"><span class="sr-only">robinhood</span></li>
            <li class="upcase"><span class="sr-only">upcase</span></li>
            <li class="hubspot"><span class="sr-only">hubspot</span></li>
          </ul>
        </div>
        <div class="carousel-item">
          <ul class="trust-companies-list">
            <li class="robinhood"><span class="sr-only">robinhood</span></li>
            <li class="upcase"><span class="sr-only">upcase</span></li>
            <li class="hubspot"><span class="sr-only">hubspot</span></li>
            <li class="techmahindra"><span class="sr-only">techmahindra</span></li>
          </ul>
        </div>
        <div class="carousel-item">
          <ul class="trust-companies-list">
            <li class="upcase"><span class="sr-only">upcase</span></li>
            <li class="hubspot"><span class="sr-only">hubspot</span></li>
            <li class="techmahindra"><span class="sr-only">techmahindra</span></li>
            <li class="robinhood"><span class="sr-only">robinhood</span></li>
          </ul>
        </div>
        <div class="carousel-item">
          <ul class="trust-companies-list">
            <li class="hubspot"><span class="sr-only">hubspot</span></li>
            <li class="techmahindra"><span class="sr-only">techmahindra</span></li>
            <li class="robinhood"><span class="sr-only">robinhood</span></li>
            <li class="upcase"><span class="sr-only">upcase</span></li>
          </ul>
        </div>
      </div>
      <a class="carousel-control-prev" href="#trusted-companies-list" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#trusted-companies-list" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  <div class="btn-wrap">
    <button class="btn btn-primary">Sign up now!</button>
  </div>
</div>