<div class="intern-detail-header">
  <div class="header-details">
    <h1>User Experience Designer</h1>
    <h2>M.Des 2nd Year</h2>
    <div class="actions">
      <button class="btn btn-light"><i class="fa fa-download"></i></button>
      <button class="btn btn-light"><i class="fa fa-star"></i></button>
      <button class="btn btn-primary">Get in touch</button>
    </div>
  </div>
</div>

<div class="intern-main-info">
  <img class="img-thumbnail" src="../../images/profile-photos/profile-photo2.jpg" alt="username">
  <div>
    <h3>Ayushmaan Khurana</h3>
    <p>Shimla, Himachal Pradesh</p>
  </div>
</div>