<div class="secondary-banner-carousel-wrap">
  <div id="secondary-banner-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="secondary-banner">
          <div><h1>Nothing but authentic and <strong>verified companies</strong></h1></div>
          <img class="banner-image" src="../../images/clipart-opportunity.png" alt="" />
        </div>
      </div>
      <div class="carousel-item">
        <div class="secondary-banner">
          <div><h1>Your Internship may turn into <strong>a full time job opportunity</strong></h1></div>
          <img class="banner-image" src="../../images/clipart-opportunity.png" alt="" />
        </div>
      </div>
      <div class="carousel-item">
        <div class="secondary-banner">
          <div>
            <h1>Your dream Internship <strong>at a click</strong></h1>
            <p>Dream internship from anywhere, anytime for anyone.</p>
          </div>
          <img class="banner-image" src="../../images/clipart-internship.png" alt="" />
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#secondary-banner-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#secondary-banner-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>