<footer>
  <div class="main-footer">
    <div class="section internship-places">
      <h6>Internship by Places</h6>
      <ul>
        <li><a href="#">Internship in India</a></li>
        <li><a href="#">Internship in Delhi</a></li>
        <li><a href="#">Internship in Bangalore</a></li>
        <li><a href="#">Internship in Hyderabad</a></li>
        <li><a href="#">Internship in Mumbai</a></li>
        <li><a href="#">Internship in Chennai</a></li>
        <li><a href="#">Internship in Gurgaon</a></li>
        <li><a href="#">Internship in Kolkata</a></li>
        <li><a href="#">Virtual Internship</a></li>
      </ul>
    </div>
  
    <div class="section internship-stream">
      <h6>Internship by Stream</h6>
      <ul>
        <li><a href="#">Computer Science Internship</a></li>
        <li><a href="#">Electronics Internship</a></li>
        <li><a href="#">Mechanical Internship</a></li>
        <li><a href="#">Civil Internship</a></li>
        <li><a href="#">Marketing Internship</a></li>
        <li><a href="#">Chemical Internship</a></li>
        <li><a href="#">Finance Internship</a></li>
        <li><a href="#">Summer Research Internship</a></li>
        <li><a href="#">Campus Ambassador Internship</a></li>
      </ul>
    </div>
  
    <div class="section about-us">
      <h6>About Us</h6>
      <ul>
        <li><a href="#">About AICTE Internship portal</a></li>
        <li><a href="#">We are hiring</a></li>
        <li><a href="#">Hire Interns for your company</a></li>
        <li><a href="#">Team Diary</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
  
    <div class="section social">
      <ul>
        <li><a href="#" class=""><i class="fab fa-facebook fa-3x"></i><span class="sr-only">facebook</span></a></li>
        <li><a href="#" class=""><i class="fab fa-twitter fa-3x"></i><span class="sr-only">twitter</span></a></li>
        <li><a href="#" class=""><i class="fab fa-instagram fa-3x"></i><span class="sr-only">instagram</span></a></li>
      </ul>
      <p class="credit">Made with &#9829; in India | From Students to Students</p>
    </div>
  </div>
</footer>