%main-sprite {
  background: transparent url('../images/sprite-aicte-logos.png') no-repeat 0 0;
}

%categories-sprite {
  background: transparent url('../images/sprite-categories.png') no-repeat 0 0;
}

%numbers-sprite {
  background: transparent url('../images/sprite-numbers.png') no-repeat 0 0;
}

%affiliations-sprite {
  background: transparent url('../images/sprite-affiliations.png') no-repeat 0 0;
}

%internships-sprite {
  background: transparent url('../images/sprite-internships.png') no-repeat 0 0;
}

%companies-sprite {
  background: transparent url('../images/sprite-companies.png') no-repeat 0 0;
}

%outer-container {
  max-width: 1180px;
  margin: 0 auto;
}

%loader {
  background: transparent;
  // background: transparent url('../images/loader.png') no-repeat 0 0;
}

%spinner {
  @include box(50px, 50px);
  @include absolute-tl(10%, 50%);

  border: none;
  animation: hyre-spinner 1.2s infinite;
  transform: translateY(-10%);
  transform: translateX(-50%);
}

%list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

%font-fa {
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 600;
}
