// color system
$body-bg: #fff;

$primary-color: #ff865b;
$secondary-color: #286bda;

$danger: #fc949b !default;
$success: #09e176 !default;

$disabled-color: #6c757d;
$theme-gray:#707070;

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "danger": $danger,
  "success": $success,
);

$link-color: $secondary-color;
$icon-bg: $theme-gray;

$carousel-control-color:             $secondary-color !default;
$carousel-indicator-active-bg:       $secondary-color !default;
$carousel-caption-color:             $secondary-color !default;
