<header>
  <nav class="navbar navbar-light bg-light">
    <div class="brands-wrap">
      <ul class="brands">
        <li><a class="navbar-brand aicte-internships" href="#"><span>AICTE Internships</span></a></li>
        <li><a class="navbar-brand aicte" href="#"><span>All India Council for Technical Education</span></a></li>
        <li><a class="navbar-brand mhrd" href="#"><span>MHRD</span></a></li>
        <li><a class="navbar-brand goi" href="#"><span>Government of India</span></a></li>
      </ul>
    </div>

    <div class="header-links-wrap">
      <ul class="header-links">
        <li>
          <div class="dropdown switch-language">
            <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span href="#" class="themed-icon icon-xs translate" title="Translate"><span class="link-text">English</span></span>
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Hindi</a>
              <a class="dropdown-item" href="#">Tamil</a>
              <a class="dropdown-item" href="#">Telugu</a>
            </div>
          </div>
        </li>
        <li class="post-internship-link"><a href="#" class="btn btn-link">Post Internship</a></li>
        <li class="login-link"><a href="#" class="btn btn-link">Login</a></li>
        <li><a href="#" class="btn btn-primary signup-link">Register</a></li>
      </ul>
    </div>
  </nav>
</header>