<header class="home-page">
  <nav class="navbar navbar-light">
    ${require('./main-nav.html')}
    
    <div id="main-menu" class="header-links-wrap collapse">
      <ul class="header-links">
        <li class="demo-link"><a href="#" class="btn btn-sm btn-link">Demo</a></li>
        <li class="team-link"><a href="#" class="btn btn-sm btn-link">Our Team</a></li>
        <li class="post-internship-link"><a href="#" class="btn btn-sm btn-link">Post Internship</a></li>
        <li class="login-link"><a href="#" class="btn btn-sm btn-link">Sign In</a></li>
        <li><a href="#" class="btn btn-sm btn-primary signup-link">Sign Up</a></li>
      </ul>
    </div>

    ${require('./language-menu.html')}
  </nav>
</header>

<div class="announcements">
  <strong>Our Key announcements</strong>
  <!-- <p>Exercitation cillum ullamco adipisicing occaecat enim do veniam Lorem aliquip est eu cupidatat.</p> -->
</div>