<header>
  <nav class="navbar navbar-light">
    <div class="brands-wrap">
      <ul class="brands">
        <li><a class="navbar-brand aicte-internships" href="index.html"><span>AICTE Internships</span></a></li>
        <li><a class="navbar-brand aicte" href="#"><span>All India Council for Technical Education</span></a></li>
        <li><a class="navbar-brand mhrd" href="#"><span>MHRD</span></a></li>
        <li><a class="navbar-brand goi" href="#"><span>Government of India</span></a></li>
      </ul>
    </div>

    <div class="header-form-wrap">
      <button class="btn btn-link post-intership-btn">Post an Intership</button>
      <img class="gravatar order-lg-1" src="../../../images/photos/photo8.jpg" alt="username">
      <form>
        <div class="form-row">
          <div class="col-lg-6">
            <input type="text" class="form-control simple-input" placeholder="Civil Engineer, Designer etc.">
          </div>
          <div class="col-9 col-lg-5">
            <input type="text" class="form-control simple-input" placeholder="Mumbai">
          </div>
          <div class="col-2 col-lg-1">
            <button class="btn search-btn"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </nav>
</header>