<div id="languages-menu" class="languages-links-wrap collapse">
  <h5>Choose language</h5>

  <ul class="languages-links">
    <li class="active"><span>English</span></li>
    <li><span>हिंदी</span></li>
    <li><span>বাংলা</span></li>
    <li><span>ગુજરાતી</span></li>
    <li><span>ಕನ್ನಡ</span></li>
    <li><span>മലയാളം</span></li>
    <li><span>मराठी</span></li>
    <li><span>ଓଡିଆ</span></li>
    <li><span>ਪੰਜਾਬੀ</span></li>
    <li><span>தமிழ்</span></li>
    <li><span>తెలుగు</span></li>
  </ul>

  <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#languages-menu"><i
      class="fas fa-arrow-circle-up"></i></button>
</div>