<div class="navbar-left">
  <button type="button" class="btn navbar-toggle collapsed" data-toggle="collapse" data-target="#languages-menu">
    <span class="sr-only">Switch language</span>
    <img src="../../../images/icon-translate.png" alt="Translate">
  </button>
</div>
<div class="navbar-middle">
  <div class="brands-wrap">
    <ul class="brands">
      <li><a class="navbar-brand aicte-internships" href="index.html"><span class="sr-only">AICTE Internships</span></a></li>
      <li><a class="navbar-brand aicte" href="#"><span class="sr-only">All India Council for Technical Education</span></a></li>
      <li><a class="navbar-brand mhrd" href="#"><span class="sr-only">MHRD</span></a></li>
      <li><a class="navbar-brand goi" href="#"><span class="sr-only">Government of India</span></a></li>
    </ul>
  </div>
</div>
<div class="navbar-right">
  <button type="button" id="mainMenuToggle"
    class="btn btn-outline-medium navbar-toggle collapsed"
    data-toggle="collapse" data-target="#main-menu">
    <span class="sr-only">Toggle navigation</span>
    <i class="fas fa-bars"></i>
  </button>
</div>