.internship-detail-body {
  margin-bottom: 4rem;

  .card {
    margin-bottom: 3rem;
  }
}

.internship-header {
  border-bottom: 1px solid rgba($secondary-color, 0.5);
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}
